/* Rodapé */
.rodape {
    background-color: #4B3527;
    color: white;
    padding: 30px 20px 10px;
    text-align: center;
  }
  
  .rodape .info-contato span {
    display: inline-block;
    margin: 10px 20px;
    font-size: 16px;
  }
  
  .rodape .info-contato img {
    width: 25px;
    vertical-align: middle;
    margin-right: 6px;
  }
  
  .rodape .info-local {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .rodape .desenvolvimento {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 50px;
  }
  /*
  .rodape .desenvolvimento {
    font-size: 14px;
    opacity: 1;
    padding: 20px 0px;
    background-color: #ff6600;
    position: absolute;
    width: 100vw;
    left: 0;
    margin-top: 10px;
  }
  */
  .info-contato a {
    text-decoration: none;
    color: white; 
  }
  
  .info-contato a:hover {
    color: #ff6600; 
  }
  