.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px; 
  background-color: #D9D9D9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;
  height: 80px;
  width: 90%;
  margin: 0 auto;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.logo-container .logo {
  width: 150px;
  height: 150px;
  object-fit: contain; 
}

.nav .nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav .nav-list li a {
  text-decoration: none;
  color: #4B3527;
  font-weight: bold;
  font-size: 16px;
}

.nav .nav-list li a:hover {
  color: #ff6600; 
}


@media(max-width: 1250px){
  .header {
    padding: 0 30px;  
  }
}


@media (max-width: 768px) {
  .header {
    width: 90%;  
    padding: 0 20px;  
    height: 70px;  
  }

  .logo-container .logo {
    width: 100px;  
    height: 100px;
  }

  .nav .nav-list {
    flex-direction: row;  
    align-items: center; 
    gap: 10px;
  }

  .nav .nav-list li a {
    font-size: 14px; 
  }
}

@media(max-width: 540px){
  

  .nav .nav-list li a {
    font-size: 12px; 
    text-align: left;
  }
  
  .logo-container .logo {
    width: 80px;  
    height: 80px;
  }

  .nav .nav-list {
    display: flex;
    flex-direction:row; 
    align-items: flex-start;
    gap: 10px;
    padding-left: 10px;
  }

}

@media(max-width: 390px){
  

  .nav .nav-list li a {
    font-size: 11px; 
  }
  
  .logo-container .logo {
    width: 70px;  
    height: 70px;
  }
}

@media(max-width: 360px){

  .logo-container .logo {
    width: 60px;  
    height: 60px;
  }
}